* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.box {
    background-color: white;
    padding-top: 30px;
    padding: 30px;
}

h2#title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;

}
 
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: none;
    border: 1px solid #8d0cf7;
    outline: none;
    font-size: 16px;

}

#button {
    font-size: 15px;
    margin-top: 40px;
    border: 2px solid #7100cf;
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: #7100cf;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;

}

.button2 {
    margin-left: 80px;
    
}

#button:hover {
    color: white;
    background-color: black;
}